/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* TOASTR BUGFIX */
#toast-container > div {
    opacity: 1;
    background-color: red; 
    padding: 10px;

  }
  .toast-success ,.toast-error , .toast-warning
  {
    padding:10px;
    color: whitesmoke;
    border-color: whitesmoke;
    border: honeydew ,5px;
    border-radius: 10px;
     width: 150px;
    text-align: center;
    white-space:pre-line;
    letter-spacing: 1px;
     font-size: large;
      margin: 10px;
  }
  .toast {
    font-size: initial !important;
    border: initial !important;
    backdrop-filter: blur(0) !important;
    padding: 30;
  }
  .toast-success {
    background-color: #51A351 !important;
 
  }
   .toast-error {
    background-color: #BD362F !important;
     
  }
  .toast-info {
    background-color: #2F96B4 !important;
    
  }
  .toast-warning {
    background-color: #F89406 !important;
    
  }