<!--StartNavbar---->
<nav class="navbar navbar-expand-lg navbar-light bg-light"  >
  <a class="navbar-brand" href="#">ProductManagment</a>
  <button class="navbar-toggler" type="button"
   data-toggle="collapse" data-target="#navbarNav" 
   aria-controls="navbarNav" aria-expanded="false" 
   aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div style="  margin-bottom: 30px;text-align: end;"  
  
  class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" >
      <li class="nav-item  "  >
         <a class="nav-link"    >
          <a routerLink="/admin" class="lnk"
          >Admin</a>

          <span class="sr-only"> </span></a>
      </li>

      <li class="nav-item  " >
         <a class="nav-link"    >
          <a routerLink="/user" class="lnk">User</a>

          <span class="sr-only"> </span></a>
      </li>
      
     
    </ul>
  </div>
</nav>
 

  
 
<router-outlet></router-outlet>


  
 


 